/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* Reset default browser styles and provide a consistent starting point */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 3em; 
    background-color: grey;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 1em;
}

.header {
    color: white;
    margin-top: 3em;
    background-image: url("/images/landing.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
}

.header h1, h2 {
    margin: 0 2em 10px 2em;
}