/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* Reset default browser styles and provide a consistent starting point */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 12vh; 
    background-color: white;
    align-items: center;
    padding: 0 2vw;
    color: #1A1A1A;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 1em;
}

.navbar img {
    width: 12%;
    height: 70%;
}

.header {
    color: white;
    margin-top: 10vh;
    background-image: url("/images/landing.jpg");
    background-position: center 55%;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
}

.title {
    display: block;
    width: 100%;
    padding: 0 25vw 1em;
    text-align: center;
}

.info-section {
    padding-top: 2em;
    color: #1A1A1A;
}

.info-title {
    display: flex;
    justify-content: center;
}

.info-title div {
    width: 20%;
    border-bottom: 0.2em solid #00B172;
    text-align: center;
    padding-bottom: 0.7em;
}

.info-title h2 {
    font-weight: bold;
}

.info-article img {
    width: 50%;
}

.general-info {
    display: flex;
    justify-content: space-evenly;
}

.general-info h3 {
    font-weight: bold;
    color: #00B172
}

.info-article {
    width: 30%;
    text-align: center;
    padding: 5em;
}

.info-article p {
    padding-top: 1.7em;
}